@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
    --background: #0a0a0a;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  button {
    /* @apply duration-300; */
  }
  button.btn {
    @apply bg-white font-bold px-4 rounded-full text-black hover:opacity-70 duration-300;
  }
}

@layer utilities {
  .center-h {
    @apply flex items-center;
  }
  button[data-visible='true'] {
    @apply opacity-100;
  }
  button[data-visible='false'] {
    @apply opacity-0;
  }

  .select {
    @apply bg-transparent text-sm opacity-80;
  }
}

@layer components {
  .logical-operators-wrapper {
    @apply p-1 rounded-md bg-zinc-800;
  }
  .logical-operators-wrapper button {
    @apply bg-transparent px-2 capitalize text-sm;
  }

  .logical-operators-wrapper button:disabled {
    @apply bg-zinc-700;
  }

  .tag {
    @apply bg-zinc-600 hover:bg-zinc-700 text-xs rounded-full px-4 py-1;
  }

  .tag[data-selected="true"] {
    @apply bg-green-700 hover:bg-green-800 text-white ;
  }

  .tag.loading {
    @apply animate-pulse text-transparent h-4 w-12;
  }

  h1[data-playing="true"] {
    @apply text-green-600;
  }

  .search-input {
    @apply center-h p-1;
  }
  .search-input[data-expanded="true"] {
    @apply rounded-none bg-zinc-800;
  }
  .search-input input {
    @apply bg-transparent outline-none border-none mx-1;
  }
  .contextmenu .menulabel {
    @apply px-2;
  }
/* 
  .modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center pt-20 items-start z-50; 
  }

  .modal-content {
    @apply max-w-max min-w-32 bg-zinc-800 rounded-sm shadow-lg border border-zinc-700;
  } */
   /* Original modal overlay style */
.modal-overlay {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center pt-20 items-start z-50;
}

/* Original modal content style */
.modal-content {
  @apply max-w-max min-w-32 bg-zinc-800 rounded-sm shadow-lg border border-zinc-700;
}

/* Mobile specific styles */
.modal-overlay[data-mobile="true"] {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-end z-50; /* Align modal to bottom on mobile */
}

.modal-content[data-mobile="true"] {
  @apply w-full max-w-screen-xl bg-zinc-800 rounded-t-lg shadow-lg border border-zinc-700 transform translate-y-full transition-transform duration-300 ease-out; /* Slide up from the bottom */
}

/* State when modal is opened */
.modal-overlay[data-mobile="true"] .modal-content {
  @apply translate-y-0; /* Slide in */
}

  .sidebar-tag {
    @apply hover:text-green-500 duration-300;
  }

  .sidebar-tag[data-selected='true'] {
    @apply text-green-500 bg-zinc-800;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}